SQS_URL=xxxxxxxxx
S3_BUCKET=xxxxxxx
AWS_REGION=xxxxxx
# Add your AWS credentials below
AWS_ACCESS_KEY_ID=xxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxx

SENDGRID_USER_EMAIL=xxxxxxxx
SENDGRID_API_KEY=xxxxxxxx